---
---

@import "{{ site.theme }}";
img { background: transparent; }
images { background: transparent; }
img.mini { }
.inner {
  width: 67%;
  margin: 0 auto;
  text-align: left;
}
a:link {
	color: #39a0ed;
}
a:visited {
	color: purple;
}
a:hover {
	color: blue;
}
div.thumbnail { }

.thumbnail p {
  width: 100%;
  text-align: center;
}

.summary p {
  width: 100%;
  text-align: left;
}

.main-content {
	background-color: #dddddd;
	h1, h2, h3, h4 {
	color: #1c76c7;
	}
}